@import "tailwindcss";
@import "tw-animate-css";

@layer base {

}

  /* * {
    @apply box-border;
  } */
  html {

    @apply w-full h-full;

  @media screen and (min-width: 601px) {
    /* @apply w-full ; */
    font-size: calc(100vw / (1440 * 1));
  }

  @media screen and (max-width: 600px) {
    font-size: calc(100vw / (428 * 1));
  }

   @media screen and (min-width: 1920px) {
      font-size: calc(100vw / (1920 * 1));
    }
}
  body {
    @apply h-full w-full max-w-full bg-[#F0F0F0] relative z-0;
    /* @apply bg-background text-foreground; */
  }
